input {
  overflow-x: auto!important
}

.schedule-item{
    background-color: lightsalmon;
    cursor: pointer;
}

.tooLate {
    opacity: 1;
}

.bus-emoji {
    font-size: min(10vw, 80px);
}

.select-station {
    
    width: calc(50% - 50px - 80px);

    min-width: 300px;
    max-width: 500px;
}

.swap-dep-dest {
    background: white;
    vertical-align:sub;
    font-size: 25px;
    padding:  5px;
    margin-left: 5px;
    margin-right: 5px;
}

.swap-dep-dest>svg {

    width: 35px;
    height: 35px;
    
}


.active {
    font-weight: bold;
}


.dropdown-navbar button{
    background: green;
    width:300px;
}


/* animation swap sides */

.flip-animation>div {
    transition: transform 1s ease; /* Define transition for the transform property */
  }
  
  .flipped {
    transform: scaleX(-1); /* Flip horizontally */
  }
/* animation for Line table expand collapse chevron */
  .fa-chevron-down{
    transition: transform 0.3s ease;
  }

  .expand-up {
    transform: scaleY(-1); /* Flip horizontally */
  }


/*  ----    table actions   ----*/



.table-action-td {
    display: flex;
    justify-content: space-around;
}

.table-action-td>svg {
    cursor: pointer;
}


.my-hover-effect:hover {
    background-color: #e9e9e9;
  }


.my-cursor-pointer {
    cursor: pointer;
}

.my-active-scale-down:active {
    transform: scale(0.95); /* Scale down the link */
}

/*not used anymore on OG planned page*/
.my-active-shadow {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8); /* Subtle box shadow */
}


/*=========Moves down by 50% of one table row=========*/
/*First use for bus stop table, to move "distance" between two rows, between two stops*/
.vertical-center {
  position: relative;
  transform: translateY(50%);
}

/*------------*/

.my-no-color-background {
  background-color: transparent;
}

.my-no-color-background td, .my-no-color-background th  {
  background-color: transparent;
}

/*----------------*/
.route-variations .active {
  background: #495057;
  color: white;
}

/* schedules > schedulePickTable*/
.my-schedule-picker-faded {
  background: #a8a8a8;
}


.my-active .my-schedule-picker-faded {
  background: #c9e4ff;
  color: black!important;
}

.my-valid-border {
  border: 2px dashed red;
}

/* datepicker overwriting -  align-items: center, with center, top bar keeps shifting up n down */
.react-datepicker__portal {
  align-items: start;
  padding-top: 10%;
}

/*Yearly rules menu active element - selection*/

.my-yearly-rules .active {
  background: grey;
}

.my-yearly-rules .my-valid-border {
  border: 2px dashed red!important;
}

/* Schedules by rule id */
.my-150px-span {
  width: 150px;
}